* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
  }
  body{
    background-color: #6a5757;
  }
  .logo{
    color: rgb(26, 26, 26);
    margin-top: 40px;
    margin-left: 23px;
  }
  .head{
    padding-left:35px;
    margin-top:10px;
  }
  .container{
    height:370px;
    width:350px;
    background-color: white;
    padding-top:40px;
    color:black;
    margin-top:110px;
  }
  .form-group{
    color: black;
  
  }
  .button{
    background-color: black;
    color:  white;
    height:45px;
    width:140px;
    padding-left:10px;
    margin-left:85px;
   font-size:19px
  }