
  
  <!-- footer -->
  <footer id="footer" data-aos="fade-up" data-aos-duration="1500">
    <h1 class="text-center">Vintage</h1>
    <div class="icons text-center">
      <i class="bx bxl-twitter"></i>
      <i class="bx bxl-facebook"></i>
      <i class="bx bxl-google"></i>
      <i class="bx bxl-skype"></i>
      <i class="bx bxl-instagram"></i>
    </div>
    <div class="copyright text-center">
      &copy; Copyright <strong></strong> .All Rights Reserved
    </div>
  </footer>
  <!-- footer -->


</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>

</html>